head {
  text-align: center;
  background-image: url("./head-background-image.img");
}

title {
  color: black;
  border: 0;
}

body {
  filter: blur(10px)
}

.div1-class {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.div2-class {
  font-weight: 100;
}

.p1and2-class {
  margin: 0 0 0 0;
}

.ul1-class {
  font-style: normal ;
}